{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
        <title>HTMX + Go</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>


    </head>
    <body class="container mx-auto py-4">
        {{ template "form" .Form }}
        <hr />
        {{ template "display" .Data }}
        <script>
            htmx.logAll();
            htmx.onLoad(function() {
                htmx.on('htmx:beforeSwap', function(evt) {
                    if (evt.detail.xhr && evt.detail.xhr.status === 422) {
                        evt.detail.shouldSwap = true;
                        evt.detail.isError = false;
                    }
                });
            });
        </script>
    </body>
</html>
{{ end }}

{{ block "form" . }}
<form 
    hx-swap="outerHTML" 
    hx-post="/contacts">

    name: <input 
    {{ if .Values.name }} value="{{ .Values.name }}" {{ end }}
    type="text" name="name" placeholder="Name" required>
    email: <input 
    {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
    type="text" name="email" placeholder="Email" required>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create Contact</button>

    {{ if .Errors.email }}
    <div class="w-100">
        <p class="text-red-500">{{ .Errors.email }}</p>
    </div>
    {{ end }}

</form>
{{ end }}


{{ block "display" . }} 
<div id="contacts" class="flex flex-col">
    {{ range .Contacts }}
        {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div id="contact-{{ .Id }}" 
     class="contact flex">
    <span class="p-4">name: <span>{{ .Name }}</span></span>
    <span class="p-4">email: <span>{{ .Email }}</span></span>
    <button 
        hx-swap="outerHTML swap:1s" 
        hx-indicator="#ci-{{ .Id }}"
        hx-target="#contact-{{ .Id }}"
        hx-delete="/contact/{{ .Id }}" 
        class="
            flex-2 
            bg-red-500 
            hover:bg-red-700 
            text-white 
            font-bold 
            py-1 
            px-2 rounded">
        Delete
    </button>
    <div id="ci-{{ .Id }}" 
        class="htmx-indicator" 
        hx-indicator="true">
        <img src="/images/bars.svg" alt="loading"/>
    </div>
</div>
{{ end }}

{{ block "out-band-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin" >
    {{ template "contact" . }}
</div>
{{ end }}

